<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AgentLimitsAppGroupIdentifier</key>
	<string>$(AGENTLIMITS_APP_GROUP_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.jimboha.agentlimits.macos.open-usage</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(AGENTLIMITS_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025-2026 Nihondo</string>
</dict>
</plist>
